.listCard {
    display: flex;
    flex-wrap: wrap;
    &__item {
        box-sizing: border-box;
        flex-basis: (100% / 6);
        min-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;

    }
}